@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --heading-one: 1.5rem;
  --para: 16px;
  --dose-yellow: #fecc00;
  --dose-bg-blue: #a2dcea;
  --dose-drk-blue: #003350;
  --dose-white: #fff;
  --dose-black: #000;
  --dose-grey: #d3d3d3;
  --dose-bg-grey: #f1f1f1;
  --dose-outer-radius: 240px;
  --dose-inner-radius: 160px;
  --dose-stroke-width: 30px;
  --dose-stroke-movement: 10px;
  --dose-outer-stroke: 754px;
  --dose-inner-stroke: 503px;

  --dose-percent-outer-one: 60;
  --dose-percent-inner-one: 46;
  --dose-percent-outer-two: 48;

  --dose-percent-second-outer: 57;
  --dose-percent-second-inner: 42;
  --dose-percent-second-outer-two: 48;
}

.container {
  max-width: 955px;
  margin-left: auto;
}

h1 {
  font-size: var(--heading-one);
  text-transform: capitalize;
  color: var(--dose-drk-blue);
  font-weight: 800;
  letter-spacing: -1;
}

header {
  position: relative;
  margin-top: 3.5em;
  margin-bottom: 3em;
  padding-top: 1em;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8em;
  height: 8px;
  background: var(--dose-yellow);
}

header p {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dose-drk-blue);
}

header h1 sup {
  font-size: 0.6em;
}
.dosing-row {
  margin-left: 2em;
}
.tab-section {
  flex: 0 0 65%;
  max-width: 65%;
}
.tab-chart-section {
  flex: 0 0 35%;
  max-width: 35%;
  align-self: flex-end;
  padding-right: 3em;
  padding-left: 2em;
}
.tab-items {
  margin-bottom: 2.5em;
  display: flex;
  flex-wrap: wrap;
}

.tab-items li {
  list-style-type: none;
  border: 1px solid var(--dose-drk-blue);
  padding: 10px 1em;
  font-size: 0.9rem;
  color: var(--dose-grey);
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.tab-items li.active {
  background: var(--dose-drk-blue);
  color: var(--dose-white);
}

.achieve-desc {
  position: relative;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  background: var(--dose-bg-blue);
  padding: 5px 1em;
}
.achieve-desc::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px;
  background: var(--dose-yellow);
}

.achieve-desc > * {
  color: var(--dose-drk-blue);
}

.achieve-desc sup {
  font-size: 0.65rem;
}

.achive-section small {
  color: var(--dose-drk-blue);
  font-size: 0.65rem;
}

svg {
  position: relative;
}

/* outer circle */
svg.outer-svg {
  width: calc(var(--dose-outer-radius) + var(--dose-stroke-width));
  height: calc(var(--dose-outer-radius) + var(--dose-stroke-width));
}

svg.inner-svg {
  width: calc(var(--dose-inner-radius) + var(--dose-stroke-width));
  height: calc(var(--dose-inner-radius) + var(--dose-stroke-width));
}

svg.outer-svg circle {
  width: calc(var(--dose-outer-radius) + var(--dose-stroke-width));
  height: calc(var(--dose-outer-radius) + var(--dose-stroke-width));
  fill: none;
  stroke: var(--dose-bg-grey);
  stroke-width: var(--dose-stroke-width);
}

svg.inner-svg circle {
  width: calc(var(--dose-inner-radius) + var(--dose-stroke-width));
  height: calc(var(--dose-inner-radius) + var(--dose-stroke-width));
  fill: none;
  stroke: var(--dose-bg-grey);
  stroke-width: var(--dose-stroke-width);
}

svg.outer-svg circle:nth-child(2) {
  width: calc(var(--dose-outer-radius) + var(--dose-stroke-width));
  height: calc(var(--dose-outer-radius) + var(--dose-stroke-width));
  fill: none;
  stroke: var(--dose-yellow);
  stroke-width: var(--dose-stroke-width);
  stroke-dasharray: var(--dose-outer-stroke);
  stroke-dashoffset: calc(var(--dose-outer-stroke) * -1);
  transform: rotate(-90deg);
  transform-origin: center;
  animation: animRotateOuter 2s linear forwards;
}

svg.inner-svg circle:nth-child(2) {
  width: calc(var(--dose-inner-radius) + var(--dose-stroke-width));
  height: calc(var(--dose-inner-radius) + var(--dose-stroke-width));
  fill: none;
  stroke: #fecc0073;
  stroke-width: var(--dose-stroke-width);
  stroke-dasharray: var(--dose-inner-stroke);
  stroke-dashoffset: calc(var(--dose-inner-stroke) * -1);
  transform: rotate(-90deg);
  transform-origin: center;
  animation: animRotateInner 2s linear forwards;
}

svg.outer-svg-two circle:nth-child(2) {
  animation: animRotateOuterTwo 2s linear forwards;
}

svg.second-outer-svg circle:nth-child(2) {
  animation: animRotateSecondOuter 2s linear forwards;
}
svg.second-inner-svg circle:nth-child(2) {
  animation: animRotateSecondInner 2s linear forwards;
}
svg.second-outer-svg-two circle:nth-child(2) {
  animation: animRotateSecondOuterTwo 2s linear forwards;
}
@keyframes animRotateOuter {
  100% {
    stroke-dashoffset: calc(
      (
          var(--dose-outer-stroke) -
            (var(--dose-outer-stroke) * var(--dose-percent-outer-one)) / 100
        ) * -1
    );
  }
}

@keyframes animRotateInner {
  100% {
    stroke-dashoffset: calc(
      (
          var(--dose-inner-stroke) -
            (var(--dose-inner-stroke) * var(--dose-percent-inner-one)) / 100
        ) * -1
    );
  }
}

@keyframes animRotateOuterTwo {
  100% {
    stroke-dashoffset: calc(
      (
          var(--dose-outer-stroke) -
            (var(--dose-outer-stroke) * var(--dose-percent-outer-two)) / 100
        ) * -1
    );
  }
}

@keyframes animRotateSecondOuter {
  100% {
    stroke-dashoffset: calc(
      (
          var(--dose-outer-stroke) -
            (var(--dose-outer-stroke) * var(--dose-percent-second-outer)) / 100
        ) * -1
    );
  }
}
@keyframes animRotateSecondInner {
  100% {
    stroke-dashoffset: calc(
      (
          var(--dose-inner-stroke) -
            (var(--dose-inner-stroke) * var(--dose-percent-second-inner)) / 100
        ) * -1
    );
  }
}
@keyframes animRotateSecondOuterTwo {
  100% {
    stroke-dashoffset: calc(
      (
          var(--dose-outer-stroke) -
            (var(--dose-outer-stroke) * var(--dose-percent-second-outer-two)) /
            100
        ) * -1
    );
  }
}
.svg-section {
  position: relative;
}

.svg-row {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  gap: 2em;
}
.svg-col {
  position: relative;
}
.svg-col-outer {
  position: relative;
}

.svg-col-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.svg-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.svg-altair-img img {
  max-height: 25px;
}
.svg-view-img img {
  max-height: 120px;
}
.svg-content {
  position: absolute;
  font-weight: bold;
  color: var(--dose-drk-blue);
  font-size: 0.9rem;
}
.svg-content-top {
  top: 5px;
  left: 50%;
  transform: translate(5px, 0);
}
.svg-content-bottom {
  bottom: 50px;
  left: 80%;
  transform: translate(0%, 0);
  transition: all 2000ms ease-in-out;
}
/* tab module */
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}
.achive-shade-content {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  margin-top: 6em;
  margin-bottom: 4em;
}
.achive-shade-content p {
  background-color: var(--dose-yellow);
  padding: 5px 1em;
  font-weight: 700;
  font-size: 0.9em;
  color: var(--dose-drk-blue);
}
.dosing-row {
  display: flex;
}

.chart-comparison {
  position: relative;
}
.chart-comparison p {
  position: relative;
  padding-left: 30px;
  font-size: 12px;
}
.chart-comparison p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: var(--dose-yellow);
}
.chart-comparison p:last-child::before {
  background: #fecc0073;
}
